/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin:0;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
body{
  background:rgb(45, 144, 80);
  height:100vh;
}
section{
  background:rgb(45, 144, 80);
  text-align:center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
